<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% load static %}
   <link rel="stylesheet" href="{% static 'styles.css' %}">
   <title>Document</title>
</head>
<body>
   <div id="container">
      <h1>All shows</h1>
      <table>
         <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Network</th>
            <th>Release Date</th>
            <th>Actions</th>
         </tr>
         {% for show in Showlist %}
            <tr>
               <td>{{show.id}}</td>
               <td>{{show.title}}</td>
               <td>{{show.network}}</td>
               <td>{{show.reldate}}</td>
               <td><a href="/shows/{{show.id}}">Info</a> | <a href="/shows/{{show.id}}/edit">Edit</a> | <a href="/shows/{{show.id}}/destroy">Delete</a></td>
            </tr>
         {% endfor %}
      </table>
      <a href="/shows/new">Add a new show</a>
   </div>
</body>
</html>